.card{
    background-image: url( 'https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/codingbg.png');
    background-size: cover;
    background-color: #00000080;
    width: 400px;
    height: 800px;
    
    margin-left: 500px;
    border: 2px solid white;
}

.card2{
    padding: 30px;
    border: 5px solid #48ee59;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 200px;
}
.para{
    text-align: justify;
    color: white;
font-size: 50px;
margin-left:

}